backend .env:

APP_NAME=NAME
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:[port]

DB_CONNECTION=sqlite
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=[port]
DB_DATABASE=DB_NAME
DB_USERNAME=USERNAME
DB_PASSWORD=

frontend .env:

axios=http://localhost:[port]/api

FRONTEND_URL=http://localhost:[port]
